In [1]:
import pandas as pd
import openpyxl as xl

In [13]:
# DATA POM 1
data1 = pd.read_excel('./excel/dataPom1.xlsx', sheet_name='Sheet1')

# Menampilkan DataFrame yang sudah diperbarui
pom1 = data1.set_index('Pelanggan')
pom1

,Waktu Kedatangan,Mulai Pelayanan,Selesai Pelayanan,Lama Pelayanan,Pelanggan Menunggu,Petugas Idle
Pelanggan,,,,,,
1,0.0,0,3,3,0,0
2,1.0,3,6,3,2,0
3,1.0,6,8,2,5,0
4,3.0,8,11,3,5,0
5,4.0,11,13,2,7,0
6,7.0,13,15,2,6,2
7,17.0,17,19,2,0,0
8,18.0,19,22,3,1,2
9,24.0,24,26,2,0,0
10,25.0,26,28,2,1,0
11,27.0,28,30,2,1,0
TOTAL,NaN,0,0,26,28,4

In [12]:
# DATA POM 2
data2 = pd.read_excel('./excel/dataPom2.xlsx', sheet_name='Sheet1')

# Menampilkan DataFrame yang sudah diperbarui
pom2 = data2.set_index('Pelanggan')
pom2

,Waktu Kedatangan,Mulai Pelayanan,Selesai Pelayanan,Lama Pelayanan,Pelanggan Menunggu,Petugas Idle
Pelanggan,,,,,,
1,0.0,0,3,3,0,0
2,1.0,3,5,2,2,0
3,1.0,5,7,2,4,0
4,3.0,7,10,3,4,1
5,11.0,11,14,3,0,0
6,12.0,14,16,2,2,0
7,13.0,16,18,2,3,1
8,18.0,19,22,3,1,0
9,20.0,22,24,2,2,0
10,23.0,24,26,2,1,0
11,24.0,26,28,2,2,0
12,26.0,28,30,2,2,0
TOTAL,NaN,0,0,28,23,2

In [36]:
#TOTAL PELANGGAN
# Menghitung total pelanggan dari kedua DataFrame
total_pelanggan_pom1 = len(pom1) - 1
total_pelanggan_pom2 = len(pom2) - 1
total_pelanggan_semua_data = total_pelanggan_pom1 + total_pelanggan_pom2

# Menampilkan total pelanggan
print(f"Total Pelanggan dari POM 1: {total_pelanggan_pom1}")
print(f"Total Pelanggan dari POM 2: {total_pelanggan_pom2}")
print(f"Total Pelanggan dari Semua Data POM: {total_pelanggan_semua_data}\n")


#TOTAL PELAYANAN
# Menghitung total pelayanan dari kedua DataFrame
total_pelayanan_pom1 = pom1.iloc[-1]['Lama Pelayanan']
total_pelayanan_pom2 = pom2.iloc[-1]['Lama Pelayanan']
total_pelayanan_semua_data = total_pelayanan_pom1 + total_pelayanan_pom2

# Menampilkan total pelayanan
print(f"Total Pelayanan dari POM 1: {total_pelayanan_pom1.astype(int)} menit")
print(f"Total Pelayanan dari POM 2: {total_pelayanan_pom2.astype(int)} menit")
print(f"Total Pelayanan dari Semua Data POM: {total_pelayanan_semua_data.astype(int)} menit\n")


#TOTAL PELANGGAN MENUNGGU
# Menghitung total pelayanan dari kedua DataFrame
total_pelanggan_menunggu_pom1 = pom1.iloc[-1]['Pelanggan Menunggu']
total_pelanggan_menunggu_pom2 = pom2.iloc[-1]['Pelanggan Menunggu']
total_pelanggan_menunggu_semua_pom = total_pelanggan_menunggu_pom1 + total_pelanggan_menunggu_pom2

# Menampilkan total pelayanan
print(f"Total Pelanggan Menunggu dari POM 1: {total_pelanggan_menunggu_pom1.astype(int)} menit")
print(f"Total Pelanggan Menunggu dari POM 2: {total_pelanggan_menunggu_pom2.astype(int)} menit")
print(f"Total Pelanggan Menunggu dari Semua Data POM: {total_pelanggan_menunggu_semua_pom.astype(int)} menit\n")


#TOTAL PETUGAS IDLE
# Mengambil nilai total petugas idle dari baris terakhir DataFrame
total_petugas_idle_terakhir_pom1 = pom1.iloc[-1]['Petugas Idle']
total_petugas_idle_terakhir_pom2 = pom2.iloc[-1]['Petugas Idle']
total_petugas_idle = total_petugas_idle_terakhir_pom1 + total_petugas_idle_terakhir_pom2

# Menampilkan nilai total petugas idle dari baris terakhir
print(f"Total Petugas Idle dari Baris Terakhir POM 1: {total_petugas_idle_terakhir_pom1.astype(int)} menit")
print(f"Total Petugas Idle dari Baris Terakhir POM 2: {total_petugas_idle_terakhir_pom2.astype(int)} menit")
print(f"Total Petugas Idle dari Semua Data POM: {total_petugas_idle.astype(int)} menit\n")


#WAKTU ANTAR KEDATANGAN
total_waktu_kedatangan = ((30*2)*60) / total_pelanggan_semua_data
print(f"Waktu antar kedatangan: {int(total_waktu_kedatangan)} detik / orang")
print(f"Waktu antar kedatangan: {int(3600/total_waktu_kedatangan)} orang / jam\n")

#WAKTU PELAYANAN
total_waktu_pelayanan = (total_pelayanan_semua_data*60) / total_pelanggan_semua_data
print(f"Waktu pelayanan: {int(total_waktu_pelayanan)} detik / orang")
print(f"Waktu pelayanan: {int(3600/total_waktu_pelayanan)} orang / jam\n")

Total Pelanggan dari POM 1: 11
Total Pelanggan dari POM 2: 12
Total Pelanggan dari Semua Data POM: 23

Total Pelayanan dari POM 1: 26 menit
Total Pelayanan dari POM 2: 28 menit
Total Pelayanan dari Semua Data POM: 54 menit

Total Pelanggan Menunggu dari POM 1: 28 menit
Total Pelanggan Menunggu dari POM 2: 23 menit
Total Pelanggan Menunggu dari Semua Data POM: 51 menit

Total Petugas Idle dari Baris Terakhir POM 1: 4 menit
Total Petugas Idle dari Baris Terakhir POM 2: 2 menit
Total Petugas Idle dari Semua Data POM: 6 menit

Waktu antar kedatangan: 156 detik / orang
Waktu antar kedatangan: 23 orang / jam

Waktu pelayanan: 140 detik / orang
Waktu pelayanan: 25 orang / jam